body {
  background-image: url("CENTRO-AREIA-PB-scaled.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 350px;
  text-align: center;
  border: 1px solid #f7eeda;
  border-radius: 12px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 10px 0 #ca9738;
}

.wrapper h2 {
  font-size: 30px;
  color: #f0cf9b;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input[type="email"],
.input-field input[type="password"],
.input-field select {
  border-radius: 10px;
  background: transparent;
  border: 2px solid #f0cf9b;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ffffff;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #f0cf9b;
}

.input-field input::placeholder,
.input-field select {
  color: #ffffff;
}

.input-field select option {
  color: #000000;
}

a.forgot,
a.sign-up {
  text-decoration: none;
}

.forgot-text {
  color: #f0cf9b;
}

.no-account {
  color: #f0cf9b;
}

a.sign-up {
  color: #ffffff;
}

button.login {
  background: #f0cf9b;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 45px;
  width: 200px;
  height: 40px;
  color: #ffffff;
}
